[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
black = "*"

[packages]
flask = "*"
flask-sqlalchemy = "*"
flask-migrate = "*"
python-slugify = "*"
flask-admin = "*"
flask-wtf = "*"
pillow = "*"
flask-restplus = "*"
flask-mail = "*"
black = "*"
flask-jwt-extended = "*"
redis = "*"
python-dotenv = "*"
flask-cors = "*"
elasticsearch = "*"
certifi = "*"
pymysql = "*"
cloudinary = "*"
werkzeug = "==0.16.1"

[requires]
python_version = "3.7"

[pipenv]
allow_prereleases = true
